{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue </h1>
    {% if app.user %}
        <p>Bonjour, {{ app.user.name }} {{ app.user.lastname }} !</p>
    {% else %}
        <p>Creer toi un compte ?</p>
    {% endif %}
{% endblock %}
